body {
    background-color: #000000;
    color: #f8f8f8;
    font-family: 'roboto slab', serif;
    font-weight: lighter;
  
  }
  
  .container-fluid {
      padding: 20px;
      width: 100%
  }
  .name {
      height: 100vh;
      line-height: 100vh;
      position: fixed;
      left: 0;
      font-weight: bold;
      font-family: 'montserrat', sans-serif;
    }
    span {
      display: inline-block;
      font-size: 6em;
      vertical-align: middle;
      line-height: normal;
    }
  
    .about {
      position: absolute;
      right: 0px;
    }
    
    .section h2 {
      text-align: left;
      font-family: 'montserrat', sans-serif;

    }

    .smallName {
      display: none;
    }

    .empty {
      height: 100%;
    }
  
    .portRow {
      width: 100%;
    }
  
    a {
      color: #999999;
      transition-property: color;
      transition-duration: .4s;
    }
  
    a:hover {
      color: #f8f8f8 !important
    }
  
    .card {
      height: 21rem;
      width: auto;
      margin-top: 20px;
      border-bottom: 1px, solid, white;
      /* margin-right: 0px; */
    }
  
    .card-body {
      background-color: black;
    }
  
    .card-img-top {
      height: 11rem;
      width: auto;
    }
  
    h6 {
      text-align: center;
    }
  
    .section {
      padding: 20px;
      margin: 20px;
      border-radius: 10px;
      background-color: #191919;
      transition-property: background-color;
      transition-duration: .4s;
    }
  
    .section:hover {
      background-color: #323232;
    }

    @media only screen and (max-width: 1388px) {
        
        .name {
            display: none;
        }

        .smallName {
          display: inline;
        }

        .about {
            position: relative;
            top: 250px;
            display: block;
            
        }
        
        .cardsDiv {
            display: none;
        }
    }
  

